body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 16px;
    font-weight: bold;
}
h2 {
    font-size: 14px;
}
p {
    font-size: 12px;
}
#title {
    position: absolute;
    top: 10px;
    left: 10px;
}
.circle { 
	stroke:#777;
	stroke-width: 0.3;
}
.land {
  stroke: #999;
    stroke-width: 0.4;
}
.highlight {
    fill: #1d91c0;
	stroke: #FFF;
    stroke-width: 2 px;
}
.prov_highlight {
    stroke: #ffffff;
    stroke-width: 2 px;
}
.selected {
    fill: #0c2c84;
	stroke: #FFF;
    stroke-width: 2 px;
}
.avg_sel {
    fill: #7fcdbb;
	stroke: #FFF;
    stroke-width: 2 px;
}
.prov_selected {
    stroke: #ffffff;
    stroke-width: 2 px;
}
.info {
    font-size: 14 px;
    font-weight: bold;
}
.trendline {
	stroke: #1d91c0;
    stroke-width: .8;
}
#map {
	float: left;
}
#scatterplot {
	float: right;
}
.heatmap {

}
#sel-high {
	height: 130px;
}
#selected-g, #highlighted-g {
	font-size:13px;
}
	
.q0-12{fill:rgb(141,211,199)}
.q1-12{fill:rgb(253,155,233)}
.q2-12{fill:rgb(190,186,218)}
.q3-12{fill:rgb(251,128,114)}
.q4-12{fill:rgb(128,177,211)}
.q5-12{fill:rgb(253,180,98)}
.q6-12{fill:rgb(179,222,105)}
.q7-12{fill:rgb(252,205,229)}
.q8-12{fill:rgb(217,217,217)}
.q9-12{fill:rgb(188,128,189)}
.q10-12{fill:rgb(204,235,197)}
.q11-12{fill:rgb(255,237,111)}

